.bloc-technos {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* border: blue solid 1px; */
   min-width: 200px;
   padding: 20px 0;
   align-self: flex-start;
}

.bloc-technos h3 {
   font-size: .8em;
   text-align: center;
}

.bloc-technos a {
   color: var(--gris12);
}

.techno {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* border: orange solid 1px; */
   width: 80px;
   height: 90px;
   margin: 16px;
}

.techno-logo {
   /* border: orchid 1px solid; */
   /* width: auto; */
}

.image-logo {
   width: 80px;
   height: 80px;
}

.image-logo img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   filter: grayscale(1);
   
}

.image-logo img:hover {
   filter: grayscale(0);
}