.page-wrapper {
   padding: var(--page-wrapper-padding);
   min-height: 80vh;
}

.bloc-1 {
   /* border: 1px green solid; */
   max-width: 1600px;
   margin: auto;
   padding: 0 20px;
}

.bloc-1 > h1 {
   padding-top: 30px;
   padding-bottom: 10px;
}

